<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="~{admin/components/head :: head('Book List')}"></head>

<body>
<script src="/admin/static/js/initTheme.js"></script>
<div id="app">
    <div th:insert="~{admin/components/sidebar.html}"></div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Book List</h3>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
                        <strong th:text="${success}"></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${error}">
                        <strong th:text="${error}"></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./homepage">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Book Management</li>
                                <li class="breadcrumb-item active" aria-current="page">Book List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Basic Tables start -->
            <section class="section">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="product-table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Image</th>
                                    <th>Import Price</th>
                                    <th>Stock</th>
                                    <th>Sold</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="book : ${books}"
                                    th:attr="data-id=${book.productId}">
                                    <td>
                                        <span th:text="${book.name}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${book.categoryName}"></span>
                                    </td>
                                    <td>
                                        <img style="width: 100px" th:src="@{${book.getImageUrl()}}" alt="">
                                    </td>
                                    <td>
                                        <span th:text="${book.importPrice} + '&#8363'"></span>
                                    </td>
                                    <td>
                                        <span th:text="${book.stock}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${book.sold}"></span>
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill"
                                              th:classappend="${book.status == 'true' ? 'bg-success' : 'bg-danger'}"
                                              th:text="${book.status == 'true' ? 'Active' : 'Inactive'}">
                                        </span>
                                    </td>
                                    <td>
                                        <div class="btn-group mb-1">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle me-1" type="button"
                                                        id="dropdownMenuButtonIcon" data-bs-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false">Actions
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonIcon">
                                                    <a class="dropdown-item" href="#">
                                                        <i class="bi bi-search"></i>
                                                        <span th:text="Details"></span>
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="bi bi-pencil-square"></i>
                                                        <span th:text="Update"></span>
                                                    </a>
                                                    <a class="dropdown-item" style="color: red" onclick="return confirm('Bạn có cắc chắn muốn xóa?');" th:href="@{/admin/delete-product/{id}(id = ${book.productId})}" >
                                                        <i  class="bi bi-trash"></i>
                                                        <span th:text="Delete"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Basic Tables end -->
        </div>

        <div th:insert="~{admin/components/footer.html}"></div>
    </div>
</div>
<th:block th:insert="~{admin/components/js-libraries :: js-libraries}"></th:block>
</body>

</html>
