<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{../../customer/css/about.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<div class="container-fuild">
    <div class="layer">
        <img th:src="@{../../customer/img/paper-plane.png}" alt="" class="paper-plane">
        <h2 style="color: #fff">MƠ</h2>
    </div>
    <section></section>
    <div th:insert="~{customer/components/nav.html}"></div>
    <div class="text">
        <h2>Thắp sáng nụ cười</h2>
    </div>
    <audio id="myAudio"  controls style="display: none" >
        <source th:src="@{../../customer/img/audio.mp3}" type="audio/mp3">
    </audio>
    <div class="content">
        <section class="sec2"></section>
        <div class="content-text">
            <p id="text"></p>
        </div>
    </div>
    <div th:insert="~{customer/components/footer.html}"></div>
</div>
<script>
    let lastScrollTop = 0;
    const navbar = document.getElementById('header');
    window.addEventListener('scroll', () => {
        const currentScroll = window.pageYOffset;

        if (currentScroll > lastScrollTop) {
            navbar.classList.add('hide');
        } else {
            navbar.classList.remove('hide');
        }
        lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
    });
</script>
<script>
    let layer = document.querySelector('.layer');
    window.addEventListener("scroll", function (){
        let value = window.scrollY;
        layer.style.left = value*2+"px";
    });

    const audio = document.getElementById("myAudio");
    const sec2 = document.querySelector(".sec2");
    sec2.addEventListener("click", function() {
        if (audio.paused) {
            audio.play().catch((error) => {
                console.log("Không phát được audio");
            });
        } else {
            audio.pause();
        }
    });
</script>
<script>
    const text = "Giữa vòng xoay của bộn bề công việc  có bao giờ bạn đã ngồi lại nhớ xem mình đã từng ước mơ gì chưa.Khi còn bé chúng tớ cũng đã từng mơ làm bác sĩ ,kỹ sư và rất rất nhiều điều lớn lao khác.Nhưng bạn biết không ngoài kia còn vô vàn những ước mơ tưởng chừng như rất bình thường với chúng ta nhưng lại rất xa vời với những hoàn cảnh khác.Đối với trẻ em miền núi hay những hoàn cảnh khó khăn ước mơ của các em đôi khi chỉ là một chiếc áo ấm để đỡ rét hơn trong mùa đông, ăn đủ no hay được đến trường để biết con chữ như bao người khác.Đó là lý do mà Mơ ra đời, 40% lợi nhuận của Mơ sẽ để giúp những hoàn cảnh khó khăn có một cuộc sống tốt đẹp hơn, nhưng chúng tớ sẽ không thể làm điều đó được một mình mà cần nhờ đến sự chung tay của các bạn.Vậy nên nếu được hãy cùng chúng tớ giúp cho tương lai các em trở nên tươi sáng hơn.Vì chúng tớ luôn tin rằng yêu thương là sự lan tỏa, một khi bạn trao đi, nó sẽ trở lại với bạn theo những cách kỳ diệu mà bạn không ngờ tới."
    let index = 0;
    function typeEffect() {
        if (index < text.length) {
            document.getElementById("text").innerHTML += text.charAt(index);
            index++;
            setTimeout(typeEffect, 50);
        }
    }
    typeEffect();
</script>
</body>
</html>