<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{../../customer/css/blog.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-12">
                <div class="header" id="header">
                    <a href="banner.html">Sản phẩm</a>
                    <a href="blog.html">Bài Viết</a>
                    <a href="banner.html"><h1>Mơ</h1></a>
                    <a href="about.html">Về Chúng Tôi</a>
                    <a href="login.html" >Đăng Nhập</a>
                </div>
                <div class="carousel">
                    <div class="scroll" style="--t:25s">
                        <div>
                            <span><a href="https://truyenfull.io/tieng-chim-hot-trong-bui-man-gai/">Tiếng chim hót trong bụi mận gai</a></span>
                            <span><a href="#">Đồi gió hú</a></span>
                            <span><a href="#">Giết con chim nhại</a></span>
                            <span><a href="#">Nhà giả kim</a></span>
                            <span><a href="#">Những người khốn khổ</a></span>
                            <span><a href="#">Sông đồng êm đềm</a></span>
                            <span><a href="#">Bay trên tổ chim cúc cu</a></span>
                        </div>
                        <div>
                            <span><a href="https://truyenfull.io/tieng-chim-hot-trong-bui-man-gai/">Tiếng chim hót trong bụi mận gai</a></span>
                            <span><a href="#">Đồi gió hú</a></span>
                            <span><a href="#">Giết con chim nhại</a></span>
                            <span><a href="#">Nhà giả kim</a></span>
                            <span><a href="#">Những người khốn khổ</a></span>
                            <span><a href="#">Sông đồng êm đềm</a></span>
                            <span><a href="#">Bay trên tổ chim cúc cu</a></span>
                        </div>
                    </div>
                    <div class="scroll" style="--t:15s">
                        <div>
                            <span><a href="#">Tiếng chim hót trong bụi mận gai</a></span>
                            <span><a href="#">Đồi gió hú</a></span>
                            <span><a href="#">Giết con chim nhại</a></span>
                            <span><a href="#">Nhà giả kim</a></span>
                            <span><a href="#">Những người khốn khổ</a></span>
                            <span><a href="#">Sông đồng êm đềm</a></span>
                            <span><a href="#">Bay trên tổ chim cúc cu</a></span>
                        </div>
                        <div>
                            <span><a href="#">Tiếng chim hót trong bụi mận gai</a></span>
                            <span><a href="#">Đồi gió hú</a></span>
                            <span><a href="#">Giết con chim nhại</a></span>
                            <span><a href="#">Nhà giả kim</a></span>
                            <span><a href="#">Những người khốn khổ</a></span>
                            <span><a href="#">Sông đồng êm đềm</a></span>
                            <span><a href="#">Bay trên tổ chim cúc cu</a></span>
                        </div>
                    </div>
                    <div class="scroll" style="--t:25s">
                        <div>
                            <span><a href="#">Tiếng chim hót trong bụi mận gai</a></span>
                            <span><a href="#">Đồi gió hú</a></span>
                            <span><a href="#">Giết con chim nhại</a></span>
                            <span><a href="#">Nhà giả kim</a></span>
                            <span><a href="#">Những người khốn khổ</a></span>
                            <span><a href="#">Sông đồng êm đềm</a></span>
                            <span><a href="#">Bay trên tổ chim cúc cu</a></span>
                        </div>
                        <div>
                            <span><a href="#">Tiếng chim hót trong bụi mận gai</a></span>
                            <span><a href="#">Đồi gió hú</a></span>
                            <span><a href="#">Giết con chim nhại</a></span>
                            <span><a href="#">Nhà giả kim</a></span>
                            <span><a href="#">Những người khốn khổ</a></span>
                            <span><a href="#">Sông đồng êm đềm</a></span>
                            <span><a href="#">Bay trên tổ chim cúc cu</a></span>
                        </div>
                    </div>
                    <div class="scroll" style="--t:30s">
                        <div>
                            <span><a href="#">Tiếng chim hót trong bụi mận gai</a></span>
                            <span><a href="#">Đồi gió hú</a></span>
                            <span><a href="#">Giết con chim nhại</a></span>
                            <span><a href="#">Nhà giả kim</a></span>
                            <span><a href="#">Những người khốn khổ</a></span>
                            <span><a href="#">Sông đồng êm đềm</a></span>
                            <span><a href="#">Bay trên tổ chim cúc cu</a></span>
                        </div>
                        <div>
                            <span><a href="#">Tiếng chim hót trong bụi mận gai</a></span>
                            <span><a href="#">Đồi gió hú</a></span>
                            <span><a href="#">Giết con chim nhại</a></span>
                            <span><a href="#">Nhà giả kim</a></span>
                            <span><a href="#">Những người khốn khổ</a></span>
                            <span><a href="#">Sông đồng êm đềm</a></span>
                            <span><a href="#">Bay trên tổ chim cúc cu</a></span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 content" >
                            <div class="post ">
                                <div class="img">
                                    <img src="https://www.jamviet.com/upload/2009/11/1539372971_17c8f47909a0f0a76c3c532e51ba553f.jpg" alt="">
                                </div>
                                <div class="text">
                                    <a  style="text-decoration: none"><p>Yêu thương không phải là điều bạn nhận được, mà là điều bạn cho đi</p></a>
                                    <p>18-11-2024</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 content" >
                            <div class="post ">
                                <div class="img">
                                    <img src="https://www.jamviet.com/upload/2009/11/1539372971_17c8f47909a0f0a76c3c532e51ba553f.jpg" alt="">
                                </div>
                                <div class="text">
                                    <a  style="text-decoration: none"><p>Yêu thương không phải là điều bạn nhận được, mà là điều bạn cho đi</p></a>
                                    <p>18-11-2024</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 content" >
                            <div class="post ">
                                <div class="img">
                                    <img src="https://www.jamviet.com/upload/2009/11/1539372971_17c8f47909a0f0a76c3c532e51ba553f.jpg" alt="">
                                </div>
                                <div class="text">
                                    <a  style="text-decoration: none"><p>Yêu thương không phải là điều bạn nhận được, mà là điều bạn cho đi</p></a>
                                    <p>18-11-2024</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 content" >
                            <div class="post ">
                                <div class="img">
                                    <img src="https://www.jamviet.com/upload/2009/11/1539372971_17c8f47909a0f0a76c3c532e51ba553f.jpg" alt="">
                                </div>
                                <div class="text">
                                    <a  style="text-decoration: none"><p>Yêu thương không phải là điều bạn nhận được, mà là điều bạn cho đi</p></a>
                                    <p>18-11-2024</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 content" >
                            <div class="post ">
                                <div class="img">
                                    <img src="https://www.jamviet.com/upload/2009/11/1539372971_17c8f47909a0f0a76c3c532e51ba553f.jpg" alt="">
                                </div>
                                <div class="text">
                                    <a  style="text-decoration: none"><p>Yêu thương không phải là điều bạn nhận được, mà là điều bạn cho đi</p></a>
                                    <p>18-11-2024</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 content" >
                            <div class="post ">
                                <div class="img">
                                    <img src="https://www.jamviet.com/upload/2009/11/1539372971_17c8f47909a0f0a76c3c532e51ba553f.jpg" alt="">
                                </div>
                                <div class="text">
                                    <a  style="text-decoration: none"><p>Yêu thương không phải là điều bạn nhận được, mà là điều bạn cho đi</p></a>
                                    <p>18-11-2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-img">
                    <div class="row">
                        <div class="col-md-3" style="padding: 0">
                            <img src="https://cellphones.com.vn/sforum/wp-content/uploads/2024/01/hinh-nen-hoa-huong-duong-1.jpg" alt="">
                        </div>
                        <div class="col-md-3 slogan" style="padding: 0">
                            <p>Yêu thương là sự lan tỏa, một khi bạn trao đi, nó sẽ trở lại với bạn theo những cách kỳ diệu mà bạn không ngờ tới</p>
                        </div>
                        <div class="col-md-3" style="padding: 0">
                            <img src="https://cellphones.com.vn/sforum/wp-content/uploads/2024/01/hinh-nen-hoa-huong-duong-51.jpg" alt="">
                        </div>
                        <div class="col-md-3 slogan" style="padding: 0">
                            <p>Yêu thương là sự lan tỏa, một khi bạn trao đi, nó sẽ trở lại với bạn theo những cách kỳ diệu mà bạn không ngờ tới</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 slogan" style="padding: 0">
                            <p>Yêu thương là sự lan tỏa, một khi bạn trao đi, nó sẽ trở lại với bạn theo những cách kỳ diệu mà bạn không ngờ tới</p>
                        </div>
                        <div class="col-md-3" style="padding: 0">
                            <img src="https://cellphones.com.vn/sforum/wp-content/uploads/2024/01/hinh-nen-hoa-huong-duong-49.jpg" alt="">
                        </div>
                        <div class="col-md-3 slogan" style="padding: 0">
                            <p>Yêu thương là sự lan tỏa, một khi bạn trao đi, nó sẽ trở lại với bạn theo những cách kỳ diệu mà bạn không ngờ tới</p>
                        </div>
                        <div class="col-md-3" style="padding: 0">
                            <img src="https://cellphones.com.vn/sforum/wp-content/uploads/2024/01/hinh-nen-hoa-huong-duong-50.jpg" alt="">
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="icon">
                        <p style="background-color: #e3f2fd">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1536 1536">
                                <path fill="currentColor"
                                      d="M1024 768q0-106-75-181t-181-75t-181 75t-75 181t75 181t181 75t181-75t75-181m138 0q0 164-115 279t-279 115t-279-115t-115-279t115-279t279-115t279 115t115 279m108-410q0 38-27 65t-65 27t-65-27t-27-65t27-65t65-27t65 27t27 65M768 138q-7 0-76.5-.5t-105.5 0t-96.5 3t-103 10T315 169q-50 20-88 58t-58 88q-11 29-18.5 71.5t-10 103t-3 96.5t0 105.5t.5 76.5t-.5 76.5t0 105.5t3 96.5t10 103T169 1221q20 50 58 88t88 58q29 11 71.5 18.5t103 10t96.5 3t105.5 0t76.5-.5t76.5.5t105.5 0t96.5-3t103-10t71.5-18.5q50-20 88-58t58-88q11-29 18.5-71.5t10-103t3-96.5t0-105.5t-.5-76.5t.5-76.5t0-105.5t-3-96.5t-10-103T1367 315q-20-50-58-88t-88-58q-29-11-71.5-18.5t-103-10t-96.5-3t-105.5 0t-76.5.5m768 630q0 229-5 317q-10 208-124 322t-322 124q-88 5-317 5t-317-5q-208-10-322-124T5 1085q-5-88-5-317t5-317q10-208 124-322T451 5q88-5 317-5t317 5q208 10 322 124t124 322q5 88 5 317"/>
                            </svg>
                        </p>
                        <p style="background-color: #e3f2fd">
                            <svg xmlns="http://www.w3.org/2000/svg" width="0.54em" height="1em" viewBox="0 0 896 1664">
                                <path fill="currentColor"
                                      d="M895 12v264H738q-86 0-116 36t-30 108v189h293l-39 296H592v759H286V905H31V609h255V391q0-186 104-288.5T667 0q147 0 228 12"/>
                            </svg>
                        </p>
                        <p style="background-color: #e3f2fd">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1em" viewBox="0 0 1600 1280">
                                <path fill="currentColor"
                                      d="M1588 152q-67 98-162 167q1 14 1 42q0 130-38 259.5T1273.5 869T1089 1079.5t-258 146t-323 54.5q-271 0-496-145q35 4 78 4q225 0 401-138q-105-2-188-64.5T189 777q33 5 61 5q43 0 85-11q-112-23-185.5-111.5T76 454v-4q68 38 146 41q-66-44-105-115T78 222q0-88 44-163q121 149 294.5 238.5T788 397q-8-38-8-74q0-134 94.5-228.5T1103 0q140 0 236 102q109-21 205-78q-37 115-142 178q93-10 186-50"/>
                            </svg>
                        </p>
                    </div>
                    <h4 style="background-color: #e3f2fd">@2024 Design by Sơn-Huân </h4>
                </footer>
            </div>
        </div>
    </div>
</body>
<script>
    let lastScrollTop = 0;
    const navbar = document.getElementById('header');
    window.addEventListener('scroll', () => {
        const currentScroll = window.pageYOffset;

        if (currentScroll > lastScrollTop) {
            navbar.classList.add('hide');
        } else {
            navbar.classList.remove('hide');
        }
        lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
    });
</script>
</html>