<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{../../customer/css/product.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="container-fuild">
        <div th:insert="~{customer/components/nav.html}"></div>
        <div class="banner">
            <div class="containers">
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <h2 class="transparent-text" >Yêu thương trao đi <br> Ước mơ ở lại</h2>
            </div>
        </div>
        <div style="background-color: #e3f2fd">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 card">
                        <div class="imgBx">
                            <img src="https://nhasachmienphi.com/images/thumbnail/nhasachmienphi-tieng-chim-hot-trong-bui-man-gai.jpg" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Tiếng chim hót trong bụi mận gai</a>
                        <p>Giá sản phẩm</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Tác giả:</p>
                        <p>Xuất bản</p>
                        <h4>Add to card</h4>
                        <h5>Tiếng chim hót trong bụi mận gai</h5>
                    </div>
                    <div class="col-md-3 card">
                        <div class="imgBx">
                            <img src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/giet_con_chim_nhai_tai_ban_2019/2021_05_11_15_55_01_1-390x510.jpg" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Giết con chim nhại</a>
                        <p>Giá sản phẩm</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Tác giả:</p>
                        <p>Xuất bản</p>
                        <h4>Add to card</h4>
                        <h5>Giết con chim nhại</h5>
                    </div>
                    <div class="col-md-3 card">
                        <div class="imgBx">
                            <img src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/doi_gio_hu/2020_11_17_15_30_41_1-390x510.jpg" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Đồi gió hú</a>
                        <p>Giá sản phẩm</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Tác giả:</p>
                        <p>Xuất bản</p>
                        <h4>Add to card</h4>
                        <h5>Đồi gió hú</h5>
                    </div>
                    <div class="col-md-3 card">
                        <div class="imgBx">
                            <img src="https://thuviensachnoi.com/anh-book/nhung-nguoi-khon-kho-tron-bo.webp" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Những người khốn khổ</a>
                        <p>Giá sản phẩm</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Mô tả sản phẩm: There are many variations of passages of Lorem Ipsum available</p>
                        <h4>Add to card</h4>
                        <h5>Những người khốn khổ</h5>
                    </div>
                    <div class="col-md-3 card" >
                        <div class="imgBx">
                            <img src="img/69017624_3244719938872319_7757055611996471296_n.jpg" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Bay trên tổ chim cúc cu</a>
                        <p>Giá sản phẩm:</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Mô tả sản phẩm: There are many variations of passages of Lorem Ipsum available</p>
                        <h4>Add to card</h4>
                        <h5>Bay trên tổ chim cúc cu</h5>
                    </div>
                    <div class="col-md-3 card">
                        <div class="imgBx">
                            <img src="img/69017624_3244719938872319_7757055611996471296_n.jpg" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Tên sản phẩm</a>
                        <p>Giá sản phẩm</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Mô tả sản phẩm: There are many variations of passages of Lorem Ipsum available</p>
                        <h4>Add to card</h4>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="~{customer/components/footer.html}"></div>
    </div>
    <script>
        let lastScrollTop = 0;
        const navbar = document.getElementById('header');
        window.addEventListener('scroll', () => {
            const currentScroll = window.pageYOffset;

            if (currentScroll > lastScrollTop) {
                navbar.classList.add('hide');
            } else {
                navbar.classList.remove('hide');
            }
            lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
        });
    </script>
<!--    <script>-->
<!--        document.addEventListener("DOMContentLoaded", () => {-->
<!--            const images = document.querySelectorAll(".imgBx img");-->

<!--            function showRandomImage() {-->
<!--                images.forEach((img) => {-->
<!--                    img.style.opacity = "0";-->
<!--                });-->
<!--                const randomIndex = Math.floor(Math.random() * images.length);-->
<!--                images[randomIndex].style.opacity = "1";-->
<!--                setTimeout(showRandomImage, 3000);-->
<!--            }-->
<!--            showRandomImage();-->
<!--        });-->
<!--    </script>-->
</body>
</html>