<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{../../customer/css/product.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="container-fuild">
        <div class="header" id="header">
            <a href="banner.html">Sản phẩm</a>
            <a href="blog.html">Bài Viết</a>
            <a href="banner.html"><h1>Mơ</h1></a>
            <a href="about.html">Về Chúng Tôi</a>
            <a href="login.html" >Đăng Nhập</a>
        </div>
        <div class="banner">
            <div class="containers">
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h1.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h7.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h3.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h4.jpg}"  alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h5.jpg}" alt="">
                    </div>
                    <div class="imgBx">
                        <img th:src="@{../../customer/img/h6.jpg}" alt="">
                    </div>
                </div>
                <h2 class="transparent-text" >Yêu thương trao đi <br> Ước mơ ở lại</h2>
            </div>
        </div>
        <div style="background-color: #e3f2fd">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 card">
                        <div class="imgBx">
                            <img src="https://nhasachmienphi.com/images/thumbnail/nhasachmienphi-tieng-chim-hot-trong-bui-man-gai.jpg" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Tiếng chim hót trong bụi mận gai</a>
                        <p>Giá sản phẩm</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Tác giả:</p>
                        <p>Xuất bản</p>
                        <h4>Add to card</h4>
                        <h5>Tiếng chim hót trong bụi mận gai</h5>
                    </div>
                    <div class="col-md-3 card">
                        <div class="imgBx">
                            <img src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/giet_con_chim_nhai_tai_ban_2019/2021_05_11_15_55_01_1-390x510.jpg" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Giết con chim nhại</a>
                        <p>Giá sản phẩm</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Tác giả:</p>
                        <p>Xuất bản</p>
                        <h4>Add to card</h4>
                        <h5>Giết con chim nhại</h5>
                    </div>
                    <div class="col-md-3 card">
                        <div class="imgBx">
                            <img src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/doi_gio_hu/2020_11_17_15_30_41_1-390x510.jpg" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Đồi gió hú</a>
                        <p>Giá sản phẩm</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Tác giả:</p>
                        <p>Xuất bản</p>
                        <h4>Add to card</h4>
                        <h5>Đồi gió hú</h5>
                    </div>
                    <div class="col-md-3 card">
                        <div class="imgBx">
                            <img src="https://thuviensachnoi.com/anh-book/nhung-nguoi-khon-kho-tron-bo.webp" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Những người khốn khổ</a>
                        <p>Giá sản phẩm</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Mô tả sản phẩm: There are many variations of passages of Lorem Ipsum available</p>
                        <h4>Add to card</h4>
                        <h5>Những người khốn khổ</h5>
                    </div>
                    <div class="col-md-3 card" >
                        <div class="imgBx">
                            <img src="img/69017624_3244719938872319_7757055611996471296_n.jpg" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Bay trên tổ chim cúc cu</a>
                        <p>Giá sản phẩm:</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Mô tả sản phẩm: There are many variations of passages of Lorem Ipsum available</p>
                        <h4>Add to card</h4>
                        <h5>Bay trên tổ chim cúc cu</h5>
                    </div>
                    <div class="col-md-3 card">
                        <div class="imgBx">
                            <img src="img/69017624_3244719938872319_7757055611996471296_n.jpg" alt="">
                        </div>
                        <a href="#" style="font-size: 1.5vw">Tên sản phẩm</a>
                        <p>Giá sản phẩm</p>
                        <p>Đánh giá:<span>  </span><i class="fa-solid fa-star" style="color: yellow"></i></p>
                        <p>Mô tả sản phẩm: There are many variations of passages of Lorem Ipsum available</p>
                        <h4>Add to card</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-img">
            <div class="row">
                <div class="col-md-3" style="padding: 0">
                    <img src="https://cellphones.com.vn/sforum/wp-content/uploads/2024/01/hinh-nen-hoa-huong-duong-1.jpg" alt="">
                </div>
                <div class="col-md-3 slogan" style="padding: 0">
                    <p>Yêu thương là sự lan tỏa, một khi bạn trao đi, nó sẽ trở lại với bạn theo những cách kỳ diệu mà bạn không ngờ tới</p>
                </div>
                <div class="col-md-3" style="padding: 0">
                    <img src="https://cellphones.com.vn/sforum/wp-content/uploads/2024/01/hinh-nen-hoa-huong-duong-51.jpg" alt="">
                </div>
                <div class="col-md-3 slogan" style="padding: 0">
                    <p>Yêu thương là sự lan tỏa, một khi bạn trao đi, nó sẽ trở lại với bạn theo những cách kỳ diệu mà bạn không ngờ tới</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 slogan" style="padding: 0">
                    <p>Yêu thương là sự lan tỏa, một khi bạn trao đi, nó sẽ trở lại với bạn theo những cách kỳ diệu mà bạn không ngờ tới</p>
                </div>
                <div class="col-md-3" style="padding: 0">
                    <img src="https://cellphones.com.vn/sforum/wp-content/uploads/2024/01/hinh-nen-hoa-huong-duong-49.jpg" alt="">
                </div>
                <div class="col-md-3 slogan" style="padding: 0">
                    <p>Yêu thương là sự lan tỏa, một khi bạn trao đi, nó sẽ trở lại với bạn theo những cách kỳ diệu mà bạn không ngờ tới</p>
                </div>
                <div class="col-md-3" style="padding: 0">
                    <img src="https://cellphones.com.vn/sforum/wp-content/uploads/2024/01/hinh-nen-hoa-huong-duong-50.jpg" alt="">
                </div>
            </div>
        </div>
        <footer>
            <div class="icon">
                <p style="background-color: #e3f2fd">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1536 1536">
                        <path fill="currentColor"
                              d="M1024 768q0-106-75-181t-181-75t-181 75t-75 181t75 181t181 75t181-75t75-181m138 0q0 164-115 279t-279 115t-279-115t-115-279t115-279t279-115t279 115t115 279m108-410q0 38-27 65t-65 27t-65-27t-27-65t27-65t65-27t65 27t27 65M768 138q-7 0-76.5-.5t-105.5 0t-96.5 3t-103 10T315 169q-50 20-88 58t-58 88q-11 29-18.5 71.5t-10 103t-3 96.5t0 105.5t.5 76.5t-.5 76.5t0 105.5t3 96.5t10 103T169 1221q20 50 58 88t88 58q29 11 71.5 18.5t103 10t96.5 3t105.5 0t76.5-.5t76.5.5t105.5 0t96.5-3t103-10t71.5-18.5q50-20 88-58t58-88q11-29 18.5-71.5t10-103t3-96.5t0-105.5t-.5-76.5t.5-76.5t0-105.5t-3-96.5t-10-103T1367 315q-20-50-58-88t-88-58q-29-11-71.5-18.5t-103-10t-96.5-3t-105.5 0t-76.5.5m768 630q0 229-5 317q-10 208-124 322t-322 124q-88 5-317 5t-317-5q-208-10-322-124T5 1085q-5-88-5-317t5-317q10-208 124-322T451 5q88-5 317-5t317 5q208 10 322 124t124 322q5 88 5 317"/>
                    </svg>
                </p>
                <p style="background-color: #e3f2fd">
                    <svg xmlns="http://www.w3.org/2000/svg" width="0.54em" height="1em" viewBox="0 0 896 1664">
                        <path fill="currentColor"
                              d="M895 12v264H738q-86 0-116 36t-30 108v189h293l-39 296H592v759H286V905H31V609h255V391q0-186 104-288.5T667 0q147 0 228 12"/>
                    </svg>
                </p>
                <p style="background-color: #e3f2fd">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1em" viewBox="0 0 1600 1280">
                        <path fill="currentColor"
                              d="M1588 152q-67 98-162 167q1 14 1 42q0 130-38 259.5T1273.5 869T1089 1079.5t-258 146t-323 54.5q-271 0-496-145q35 4 78 4q225 0 401-138q-105-2-188-64.5T189 777q33 5 61 5q43 0 85-11q-112-23-185.5-111.5T76 454v-4q68 38 146 41q-66-44-105-115T78 222q0-88 44-163q121 149 294.5 238.5T788 397q-8-38-8-74q0-134 94.5-228.5T1103 0q140 0 236 102q109-21 205-78q-37 115-142 178q93-10 186-50"/>
                    </svg>
                </p>
            </div>
            <h4 style="background-color: #e3f2fd">@2024 Design by Sơn-Huân </h4>
        </footer>
    </div>
    <script>
        let lastScrollTop = 0;
        const navbar = document.getElementById('header');
        window.addEventListener('scroll', () => {
            const currentScroll = window.pageYOffset;

            if (currentScroll > lastScrollTop) {
                navbar.classList.add('hide');
            } else {
                navbar.classList.remove('hide');
            }
            lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
        });
    </script>
<!--    <script>-->
<!--        document.addEventListener("DOMContentLoaded", () => {-->
<!--            const images = document.querySelectorAll(".imgBx img");-->

<!--            function showRandomImage() {-->
<!--                images.forEach((img) => {-->
<!--                    img.style.opacity = "0";-->
<!--                });-->
<!--                const randomIndex = Math.floor(Math.random() * images.length);-->
<!--                images[randomIndex].style.opacity = "1";-->
<!--                setTimeout(showRandomImage, 3000);-->
<!--            }-->
<!--            showRandomImage();-->
<!--        });-->
<!--    </script>-->
</body>
</html>